# Built binaries
bin/

pkgbuild/arch/pkg/
pkgbuild/arch/src/

# Built packages
pkgbuild/arch/*.pkg.tar.*

# Cloned repositories
pkgbuild/arch/cldl-git/

# Homebrew package repo
pkgbuild/homebrew/homebrew-cldl/
